body{
    height: 100%;
    width: 100%;
    background-color: #b0b0b0;
    margin: 0;
    padding: 0;
}
div.header{
    width: 100%;

}
img.home{
    width: 9.375%;
    float: left;
    margin-left: 2.1875%;
}
h2.header{
    width: 40%;
    padding-top: 1%;
    margin-left: 27.34375%;
    color: white;
    font: 300 2em 'Open Sans';
    display: flex;
    align-self: center;
}
span.plus{
    float: right;
    margin-top: -14%;
    margin-right: 2.1875%;
    font: 500 5em 'Open Sans';
    color: white;
}
div.companySection{
    width: 100%;
    background-color: white;
    padding-top: 30%;
    padding-bottom: 30%;
}
div.selectedCompany{
    font: 300 1.5em 'Open Sans';
    border-top: 2px solid #b0b0b0;
    border-bottom: 2px solid #b0b0b0;
    display: flex;
    justify-content: center;
    padding: 4% 0.5%;
    align-items: center;
    color: #b0b0b0;
}
p.arrow{
    float: right;
    clear: both;
    margin-top: -10%;
    margin-right: 2%;
    font: 600 2em 'Helvetica Neue';
    color: #b0b0b0;
}

div.companyInfo{
    width: 100%;
    padding-bottom: 45.5%;
}

h2.noData{
    font: 300 2em 'Open Sans';
    color: white;
    padding: 5%;
}
div.menu{
    width: 100%;
    background-color: #A3A3A3;
}
div.section{
    padding-top: 3%;
    display: inline-block;
    width: 19%;
    text-align: center;
}
i.fa{
    font-size: 3em;
    color: white;
}
p.icon{
    font: 300 1.1em 'Helvetica Neue';
    color: white;
}
div.building{
    background-color: white;
}
i.companies, p.companies{
    color: #A3A3A3;
}



